
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, userr-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>admin_hrDetail</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <style>
            body{margin:10px 20px;}
        </style>
</head>

<body>
    <div class="layui-form">
        <table class="layui-table">
            <tr>
                <td>teacher姓名</td>
                <td id="teacher_name"></td>
            </tr>
            <tr>
                <td>teacher工号</td>
                <td id="teacher_job_number"></td>
            </tr>
            <tr>
                <td>所在一级部门</td>
                <td id="first_dept"></td>
            </tr>
            <tr>
                <td>所在二级部门</td>
                <td id="second_dept"></td>
            </tr>

        </table>
    </div>
    <script src="../../static/layui/layui.js"></script>
</body>
</html>
