<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, userr-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Test</title>
        <link rel="stylesheet" href="../../static/layui/css/layui.css">
        <style>
            body{margin:10px 20px;}
        </style>
    </head>

    <body>
        <fieldset class="layui-elem-field layui-field-title mt-15">
                <legend>新增hr</legend>
        </fieldset>
        <form class="layui-form" method="post" action="" lay-filter="pageForm">

            <div class="layui-form-item">
                <label class="layui-form-label">hr姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="hr_name" required  lay-verify="required" placeholder="请输入姓名"
                           autocomplete="off" class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">hr工号</label>
                <div class="layui-input-block">
                    <input type="text" name="hr_job_number" required="required" lay-verify="required" placeholder="请输入工号"
                           autocomplete="off" class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所在一级部门</label>
                <div class="layui-input-block">
                    <input type="text" name="first_dept" required="required"  lay-verify="required" placeholder="所在一级部门"
                            autocomplete="off" class="layui-input"/>
                </div>
            </div>
    
            <div class="layui-form-item">
                <label class="layui-form-label">所在二级部门</label>
                <div class="layui-input-block">
                    <input type="text" name="second_dept" required="required" lay-verify="required" placeholder="所在二级部门"
                            autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="lay-submit" lay-filter="pageForm">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
        <script src="../../static/layui/layui.js"></script>
        <script>
            // //Demo
            // layui.use('form', function(){
            //     var form = layui.form;

            //     //监听提交
            //     form.on('submit(formDemo)', function(data){
            //         layer.msg(JSON.stringify(data.field));
            //         return false;
            //     });
            // });
            layui.use(['form', 'layer', 'element'], function () {
                    var form = layui.form
                    , layer = layui.layer
                    ,element = layui.element;
                    form.on('submit(pageForm)', function (data) {
                    app.post($(data.form).attr('action'), data.field,
                        function (res) {
                            if (res.error != '0') {
                                var index = parent.layer.getFrameIndex(window.name); 
                                parent.layer.close(index);
                                
                            } else {
                                layer.msg(res.message);
                                var index = parent.layer.getFrameIndex(window.name); 
                                parent.layer.close(index);
                            }
                        });
                    return false;
    });
 });
        </script>

    </body>
</html>

