<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
    <title>培养计划</title>
    <style>
        body{margin:10px 20px;}
    </style>
</head>
<body>
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label">月份</label>
            <div class="layui-input-block">
                <input type="text" name="month" id="month" class="layui-input" readonly/>
            </div>

            <label class="layui-form-label" style="border-top:0px;">培养目标</label>
            <div class="layui-input-block">
                <input type="text" name="target" id="target" placeholder="请输入内容" class="layui-input"
                          style="border-top:0px;"/>
            </div>
        </div>

        <table id="teacher_plan" lay-filter="teacher_plan"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

        <input type="hidden" name="stuid" id="stuid"/>
        <input type="hidden" name="id" id="id"/>
        <div class="layui-form-item">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-block">
                <input type="text" name="period" id="period" class="layui-input"/>
            </div>

            <label class="layui-form-label" style="height:100px;border-top:0px;">知识点及<br/>掌握知识</label>
            <div class="layui-input-block">
                <textarea name="knowledge" id="knowledge" placeholder="请输入内容" class="layui-textarea"
                          style="resize:none;border-top:0px;"></textarea>
            </div>

            <label class="layui-form-label" style="height:100px;border-top:0px;">学习材料</label>
            <div class="layui-input-block">
                <textarea name="material" id="material" placeholder="请输入内容" class="layui-textarea"
                          style="resize:none;border-top:0px;"></textarea>
            </div>

            <label class="layui-form-label" style="height:100px;border-top:0px;">输出及<br/>考核方式</label>
            <div class="layui-input-block">
                <textarea name="inspect" id="inspect" placeholder="请输入内容" class="layui-textarea"
                          style="resize:none;border-top:0px;"></textarea>
            </div>

        </div>
        <div class="layui-form-item" >
            <div class="layui-input-block" style="float:right;">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">保存</button>
                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
            </div>
        </div>
    </form>

    <div id="plan_page" style="text-align:center"></div>
    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use(['table',"laypage","jquery","form"], function(){
            window.jQuery = window.$ = layui.jquery;
            var table = layui.table,
                form=layui.form,
                laypage=layui.laypage;//分页
                //获取id值
                   var stuid=$('#stuid').val();
            //渲染 laypage分页 实例
            laypage.render({
                elem: 'plan_page' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    var month=obj.curr;
                    $("#month").val(month);
                    $.ajax({
                        type:"get",//提交类型
                        url:"/plan/selectPlanByOthers",//请求的地址
                        data:{
                            month:obj.curr,//月份
                            stuid:stuid,//学生id
                        },//提交的数据
                        dataType:"json",//返回的类型 json
                        success:function(data){
                           if(data.data){
                                $('#target').val(data.data.target);
                           }else{
                                 $('#target').val('');
                           }
                        },
                        error:function(){
                            layer.msg("请求异常，请重试");
                        }

                    });
                    table.render({
                        elem:"#teacher_plan"
                        ,page:true
                        ,url:"/plan/selectDetailByOthers"//数据接口
                        ,where:{month:month,stuid:stuid}
                        ,cols:  [[ //表头
                            {field: 'period', title: '时间', width:100,fixed:'left'}
                            ,{field: 'knowledge', title: '知识点及掌握程度', width: 200}
                            ,{field: 'material', title: '学习材料', width: 200}
                            ,{field: 'inspect', title: '输出及考核方式',width:200}
                            ,{fixed: 'right',  align:'center', toolbar: '#barDemo',minWidth:150}
                        ]]
                    });

                }
            });
            //监听table工具条teacher_plan
                table.on('tool(teacher_plan)', function(obj) {
                    var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                    //console.log(data);
                    if (layEvent === 'del'){
                        //删除
                        layer.confirm('真的删除行么', function(index) {
                            var delid=data.id;
                            layer.close(index);
                            $.ajax({
                                url : '/plan/deletePlandetail?id='+delid,//数据接口
                                type : 'get',
                                dataType : 'JSON',
                                success : function(data) {
                                    layer.msg(data.msg);
                                     table.reload('teacher_plan',{url:'/plan/selectDetailByOthers'});
                                },
                                error : function(e) {
                                    layer.msg("服务器繁忙！操作失败，清重试！")
                                }
                            //向服务端发送删除指令
                            });
                        });
                    } else if (layEvent === 'edit') {
                        //编辑
                        //console.log(data);
                        $('#id').val(data.id);
                        $('#period').val(data.period);
                        $('#material').val(data.material);
                        $('#knowledge').val(data.knowledge);
                        $('#inspect').val(data.inspect);
                    }
                });
                //编辑或新增
                form.on('submit(formDemo)',function(data){
                    console.log(data.field);//当前容器的全部表单字段
                    if(data.field.id){
                        //编辑操作
                        $.ajax({
                            type: 'post',
                            data:data.field,
                            url: '/plan/updateDetail',
                            success: function(data) {
                               //console.log(data);
                               layer.msg('修改成功');
                            },
                            error: function(e) {
                                layer.msg('error:请求出错！');
                            }
                        });
                    }else{
                        $.ajax({
                            type:'post',
                            data:data.field,
                            url:'/plan/addDetail',
                            success:function(){
                                layer.msg('新增成功！');
                            },
                            error:function(){
                                layer.msg('请求出错，请重试！');
                            }
                        })
                    }
                    table.reload('teacher_plan',{url:'/plan/selectDetailByOthers'});
                    $('#id').val('');
                    $('#period').val('');
                    $('#material').val('');
                    $('#knowledge').val('');
                    $('#inspect').val('');
                    return false;
                });
        });
    </script>
</body>

</html>