<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
    <title>培养计划</title>
    <style>
        body{margin:10px 20px;}
    </style>
</head>
<body>
<fieldset class="layui-elem-field" style="padding:5px;padding-top:15px;">
    <legend>月度培养总目标</legend>
    <form class="layui-form" lay-filter="targetForm">
        <input name="stuid" type="hidden" id="stuid"/>
        <input  type="hidden" name="month" id="month" class="layui-input" />

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">起始时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="startTime" placeholder="yyyy-MM-dd" name="startTime" readonly="readonly"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">终止时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="endTime" placeholder="yyyy-MM-dd" name="endTime" readonly="readonly"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">培养目标</label>
            <div class="layui-input-block">
                <input type="text" name="target" id="target" placeholder="月度培养总目标" class="layui-input" maxlength="255"
                       readonly="readonly"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="float:right;">
                <button class="layui-btn" lay-submit="lay-submit" id="update" lay-filter="update">编辑</button>
            </div>
        </div>
    </form>
</fieldset>
<br/>

<fieldset class="layui-elem-field layui-field-title mt-15">
    <legend>培养计划详情</legend>
</fieldset>
    <button class="layui-btn" data-type="getCheckData" isMaximize="0"
            id="addDetail" topHeight="600px">
        <i class="layui-icon">&#xe654;</i>新增培养计划详情
    </button>
    <table id="teacher_plan" lay-filter="teacher_plan"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <div id="plan_page" style="text-align:center"></div>
    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use(['table',"laypage","jquery","form",'laydate'], function(){
            window.jQuery = window.$ = layui.jquery;
            var table = layui.table,
                layer=layui.layer,
                form=layui.form,
                laypage=layui.laypage,//分页
                laydate=layui.laydate;

                //获取id值
                var str=location.search,
                    i=str.indexOf("=");
                    var stuid=str.substr(i+1);
                $('#stuid').val(stuid);
            //渲染 laypage分页 实例  查看培养计划
            laypage.render({
                elem: 'plan_page' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    var month=obj.curr;
                    $("#month").val(month);
                    //培养计划目标
                    $.ajax({
                        type:"get",//提交类型
                        url:"/plan/selectPlanByOthers",//请求的地址
                        data:{
                            month:obj.curr,//月份
                            stuid:$('#stuid').val(),//学生id
                        },//提交的数据
                        //dataType:"json",//返回的类型 json
                        success:function(data){
                           if(data.data){
                                $('#target').val(data.data.target);
                                $('#startTime').val(data.data.start_time);
                                $('#endTime').val(data.data.end_time);
                           }else{
                                 $('#target').val('');
                                 $('#startTime').val('');
                                 $('#endTime').val('');
                           }
                        },
                        error:function(){
                            layer.msg("请求异常，请重试");
                        }

                    });
                    //培养计划详情
                    table.render({
                        elem:"#teacher_plan"
                       ,url:"/plan/selectDetailByOthers"//数据接口
                       ,where:{month:month,stuid:$('#stuid').val()}
                        ,cols:  [[ //表头
                            {field: 'period', title: '阶段', width:100,fixed:'left'}
                            ,{field: 'knowledge', title: '知识点及掌握程度', minWidth: 200}
                            ,{field: 'material', title: '学习材料', minWidth: 200}
                            ,{field: 'inspect', title: '输出及考核方式',minWidth:200}
                            ,{fixed: 'right',  align:'center', toolbar: '#barDemo',minWidth:150}
                        ]]
                    });

                }
            });
            //新增培养计划详情
            $('#addDetail').on('click', function() {
                layer.open({
                    type : 2,
                    area : [ '700px', '450px' ],
                    fixed : false, //不固定
                    maxmin : true,
                    content : '../teacher/teacher_addPlan.html',
                    success:function(layero,index){
                        var body=layer.getChildFrame('body',index);//获取iframe页的DOM
                        body.find('#planMonth').val($('#month').val());
                        body.find('#planStuId').val($('#stuid').val());
                    },
                    end : function() {
                        table.reload('teacher_plan', {url: '/plan/selectDetailByOthers'});
                    }
                });
            });
            //监听table工具条  编辑和删除
            table.on('tool(teacher_plan)', function(obj) { //注：tool是工具条事件名，tea是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
                //console.log(obj);
                if (layEvent === 'del'){
                    //删除
                    layer.confirm('真的删除行么', function(index) {
                        var delid=data.id;
                        // obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                        $.ajax({
                            url : '/plan/deletePlandetail?id='+delid,//数据接口
                            type : 'get',
                            dataType : 'JSON',
                            success : function(data) {
                                layer.msg(data.msg);
                                table.reload('teacher_plan', {url: '/plan/selectDetailByOthers'});
                            },
                            error : function(e) {
                                layer.msg("服务器繁忙！操作失败，清重试！")
                            }
                        //向服务端发送删除指令
                        });
                    });
                } else if (layEvent === 'edit') {
                    //编辑
                    layer.open({
                        type : 2,
                        area : [ '700px', '450px' ],
                        fixed : false, //不固定
                        maxmin : true,
                        content : '../teacher/teacher_editPlan.html',
                        success:function(layero,index){
                            var body=layer.getChildFrame('body',index);//获取iframe页的DOM
                            body.find('#material').val(data.material);
                            body.find('#inspect').val(data.inspect);
                            body.find('#period').val(data.period);
                            body.find('#knowledge').val(data.knowledge);
                            body.find('#id').val(data.id);
                            body.find('#editStuId').val($('#stuid').val())
                        },
                        end : function() {
                             table.reload('teacher_plan', {url: '/plan/selectDetailByOthers'});
                        }
                    });
                }
            })
            //编辑或新增培养目标
            $('#update').on('click', function() {
                layer.open({
                    type : 2,
                    area : [ '710px', '500px' ],
                    fixed : false, //不固定
                    maxmin : true,
                    content : '../teacher/teacher_addTarget.html',
                    success:function(layero,index){
                        var body=layer.getChildFrame('body',index);//获取iframe页的DOM
                        body.find('#stuidTarget').val($('#stuid').val());
                        body.find('#monthTarget').val($('#month').val());
                        if($('#target').val()){
                             body.find('#addtarget').val($('#target').val());
                        }else{
                            body.find('#addtarget').val('');
                        }
                        if($('#startTime').val()){
                             body.find('#addstartTime').val($('#startTime').val());
                        }else{
                            body.find('#addstartTime').val('');
                        }
                        if($('#endTime').val()){
                             body.find('#addendTime').val($('#endTime').val());
                        }else{
                            body.find('#addendTime').val('');
                        }
                    },
                    end:function() {

                        //培养计划目标
                        $.ajax({
                            type:"get",//提交类型
                            url:"/plan/selectPlanByOthers",//请求的地址
                            data:{
                                month:$('#month').val(),//月份
                                stuid:$('#stuid').val(),//学生id
                            },//提交的数据
                            dataType:"json",//返回的类型 json
                            success:function(data){
                            //console.log(data.data);
                               if(data.data){
                                    $('#target').val(data.data.target);
                                    $('#startTime').val(data.data.startTime);
                                    $('#endTime').val(data.data.endTime);
                               }else{
                                     $('#target').val('');
                                     $('#startTime').val('');
                                     $('#endTime').val('');
                               }
                            },
                            error:function(){
                                layer.msg("请求异常，请重试");
                            }

                        });
                    }

                });
                return false;
            });

        });
    </script>
</body>

</html>