<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
    <title>培养计划</title>
    <style>
        body{margin:10px 20px;}
    </style>
</head>
<body>
        <form class="layui-form layui-form-pane" id="summaryForm">
            <input type='hidden' name="stuid" id="stuid"/>
            <div class="layui-form-item">
                <label class="layui-form-label">月份</label>
                <div class="layui-input-block">
                    <input type="text" name="month" id="month" class="layui-input" readonly="true"/>
                </div>

                <label class="layui-form-label">培养目标</label>
                <div class="layui-input-block">
                    <input type="text" name="target" id="target" class="layui-input" />
                </div>
            </div>

            <div class="layui-form-item" id="period0">
                <label class="layui-form-label">时间</label>
                <div class="layui-input-block">
                    <input type="text" name="period" class="layui-input"/>
                </div>

                <label class="layui-form-label">知识点及掌握程度</label>
                <div class="layui-input-block">
                    <input type="text" name="knowledge" class="layui-input"/>
                </div>

                <label class="layui-form-label">学习材料</label>
                <div class="layui-input-block">
                    <input type="text" name="material" class="layui-input"/>
                </div>

                <label class="layui-form-label">输出及考核方式</label>
                <div class="layui-input-block">
                    <input type="text" name="inspect" class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item" id="period1">
                <label class="layui-form-label">时间</label>
                <div class="layui-input-block">
                    <input type="text" name="period" class="layui-input"/>
                </div>

                <label class="layui-form-label">知识点及掌握程度</label>
                <div class="layui-input-block">
                    <input type="text" name="knowledge" class="layui-input"/>
                </div>

                <label class="layui-form-label">学习材料</label>
                <div class="layui-input-block">
                    <input type="text" name="material" class="layui-input"/>
                </div>

                <label class="layui-form-label">输出及考核方式</label>
                <div class="layui-input-block">
                    <input type="text" name="inspect" class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item" id="addbefore">
                <div class="layui-input-inline" id="btn-period">
                    <button class="layui-btn layui-btn-primary" id="add_period">
                        <i class="layui-icon">&#xe61f;</i>继续添加</button>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="lay-submit" lay-filter="plan_update" style="float:right;">提交</button>
                </div>
            </div>
        </form>
        <div id="plan_page" style="text-align:center"></div>
    <script src="../../static/layui/layui.js"></script>
    <script>
        layui.use(["laypage","jquery","form"], function(){
            window.jQuery = window.$ = layui.jquery;
            var laypage=layui.laypage,//分页
                form=layui.form;
                //获取学生id
                var str=location.search,
                        i=str.indexOf("=");
                    var stuid=str.substr(i+1);
                    $('#stuid').val(stuid);
                    //添加时间段
                $('#add_period').click(function(){
                    //添加之前 form表单中子元素的个数
                    var num=$('#summaryForm').children().length-4;
                    var periodId='period'+num;
                    /*alert(periodId);
                    $('#addbefore').before('<div class="layui-form-item" id=periodId>'+
                        '<label class="layui-form-label">时间</label>'+
                        '<div class="layui-input-block"><input type="text" name="period" class="layui-input"/></div>'+
                        '<label class="layui-form-label">知识点及掌握程度</label>'+
                        '<div class="layui-input-block"><input type="text" name="knowledge" class="layui-input"/></div>'+
                        '<label class="layui-form-label">学习材料</label>'+
                        '<div class="layui-input-block"><input type="text" name="material" class="layui-input"/></div>'+
                        '<label class="layui-form-label">输出及考核方式</label>'+
                        '<div class="layui-input-block"><input type="text" name="inspect" class="layui-input"/></div></div>');*/
                        $.ajax({
                            type:'get',
                            dataType:'html',
                            data:{id:periodId},
                            url:'',//添加时间段的url
                            success:function(data){
                                $('#addbefore').before();
                            },
                            error:function(){
                                layer.msg('请求出错，请重试！');
                            }


                        });
                    return false;
                });

                //老师编辑、添加培训计划
            form.on('submit(plan_update)',function(data){
            //所有的input字段
                var formArr=$('#summaryForm').find('input');
                //console.log(formArr);
                //需要传值
                var newArr=[]
                for(var i=0;i<formArr.length;i++){
                    var objName=formArr[i].name;
                    var objValue=formArr[i].value;
                    switch(objName){
                        case 'stuid':
                            newArr[i]={stuid:objValue};
                            break;
                        case 'inspect':
                           newArr[i]={inspect:objValue};
                            break;
                        case 'knowledge':
                            newArr[i]={knowledge:objValue};
                            break;
                        case 'month':
                            newArr[i]={month:objValue};
                            break;
                        case 'period':
                            newArr[i]={period:objValue};
                            break;
                        case 'target':
                            newArr[i]={target:objValue};
                            break;
                    }

                }
                //console.log(newArr);
                //目标字段
                $.ajax({
                   type:'post',
                   data:data.field,
                   url:'/plan/updatePlan',
                });
                //其他字段
                $.ajax({
                   type:'post',
                   data:{newArr},
                    url:'/plan/updateDetail',
                    success:function(data){
                        layer.msg(data.msg);
                    },
                    error : function(e) {
                        layer.msg("服务器繁忙！操作失败，请重试！")
                    }
                });
                return false;//阻止表单跳转
            });
              //老师查看培训总结
              laypage.render({
                elem: 'plan_page' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    var month=obj.curr;
                    $("#month").val(month);
                        //这个请求获得target和month
                       $.ajax({
                            url:"/plan/selectPlanByOthers",
                            type:"get",
                            dataType:"json",
                            data:{month:month,stuid:stuid},
                            success:function(data){
                               // console.log(data);
                                if(data.data){
                                    $('#target').val(data.data.target);
                                }else{
                                    $('#target').val('');
                                }
                           },
                           error : function(e) {
                                layer.msg("服务器繁忙！操作失败，清重试！")
                            }
                        });
                        //这个请求获得 其他值
                        $.ajax({
                            url:"/plan/selectDetailByOthers",
                            type:"get",
                            dataType:"json",
                            data:{month:month,stuid:stuid},
                            success:function(data){
                                var arr=data.data;//是个数组
                                //console.log(arr);
                                if(arr.length!==0){
                                    for(var i=0;i<arr.length;i++){
                                        var idname="#period"+i;
                                        $(idname).find('input[name="period"]').val(arr[i].period);
                                        $(idname).find('input[name="material"]').val(arr[i].material);
                                        $(idname).find('input[name="knowledge"]').val(arr[i].knowledge);
                                        $(idname).find('input[name="inspect"]').val(arr[i].inspect);
                                    }
                                }else{
                                      $('input[name="period"]').val('');
                                      $('input[name="material"]').val('');
                                      $('input[name="knowledge"]').val('');
                                      $('input[name="inspect"]').val('');
                                }
                           },
                           error : function(e) {
                                layer.msg("服务器繁忙！操作失败，清重试！")
                            }
                        });
                }
              })


        });


    </script>
</body>

</html>