<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>admin_hrEdit</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
    <style>
            body{margin:10px 20px;}
        </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title mt-15">
    <legend>编辑培养计划详情</legend>
</fieldset>
<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md8">
        <form class="layui-form" onkeydown="if(event.keyCode==13)return false;">
            <input type="hidden" name="id" id="id"/>
            <input  type="hidden" name="stuid" id="editStuId"/>

            <div class="layui-form-item">
                <label class="layui-form-label">阶段</label>
                <div class="layui-input-block">
                    <input type="text" name="period" maxlength="200" lay-verify="required" id="period"
                            class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">知识点及掌握程度</label>
                <div class="layui-input-block">
                    <textarea type="text" name="knowledge" maxlength="200" minlength="1" lay-verify="required" id="knowledge"
                           class="layui-input" style="height:70px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学习材料</label>
                <div class="layui-input-block">
                    <textarea type="text" name="material" maxlength="200" lay-verify="required" id="material"
                            class="layui-input" style="height:70px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">输出及考核方式</label>
                <div class="layui-input-block">
                    <textarea type="text" name="inspect" maxlength="200" lay-verify="required" id="inspect"
                           class="layui-input" style="height:70px;"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="lay-submit" id="update" lay-filter="pageForm">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script src="../../static/layui/layui.js"></script>
<script>
            layui.use(['form', 'element','jquery'], function () {
                    window.jQuery = window.$ = layui.jquery;
                    var form = layui.form
                    , layer = layui.layer
                    ,element = layui.element;

                   form.on('submit(pageForm)',function(data){
                    $.ajax({
                        type: 'post',
                        data:data.field,
                        url: '/plan/updateDetail',
                        success: function(data) {
                        //console.log(data);
                           layer.msg("修改成功")
                           setTimeout(function(){
                           var index = parent.layer.getFrameIndex(window.name);//先得到当前iframe层的索引
                            parent.layer.close(index);
                           },1000)
                        },
                        error: function(e) {
                            layer.msg('error:请求出错！');
                        }

                    });
                    return false;
                })




            });
        </script>

</body>
</html>

