<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>administrator</title>
</head>
<style>
		body{
            margin:0px;
            background: #f4f4f4;
            height:100%; 
            overflow-y: scroll;
            min-height:100%;
            box-sizing:border-box;
            padding-bottom: 180px;
            min-width: 1000px;
            position: relative!important;
            display: block;
        }
        header{
            width:100%;
            min-width: 1000px;
            box-shadow: 0 1px 0 0 #ddd;
            height:80px;
            background:#fff;
            margin-bottom: 40px;
        }
        header .top{
            width:1000px;
            margin:0 auto;
            background:url(../static/logo.jpg) no-repeat;
            background-size: 80px 60px;
            background-position:30px;
        }
        header .top h1{
            display:inline-block;
            margin-left:120px;
            line-height: 80px;
        }
        header .top button{
            margin-left:450px;
            margin-top:-10px;
        }
        section{
            width:100%;
            margin:0 auto;    
            min-height:600px;
            display:block;
            margin-bottom:30px;           
        }
        section div.container{
            background:#fff;
            width:1000px;
            margin:0 auto;
            margin-top:15px;
			position:relative;
        }
        footer{
            padding-top: 40px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            background: #444547;
            font-size: 12px;
            min-height: 28px;
            
        }
        footer p{
            color: #777;
            line-height: 24px;
        }
        .upload-data{
			margin-left:800px;
			position:absolute;
			z-index:10;
			top:10px;
        }
</style>
<body>
	<header>
		<div class="top">
			<h1>华为 实习生管理信息系统</h1>
			<button class="layui-btn" id="sign_out">退出</button>
		</div>
	</header>
	<section>

	<div class="layui-fluid container" id="LAY-app-message" >
		<div class="upload-data">
			<button type="button" class="layui-btn" id="upload">
				<i class="layui-icon">&#xe62f;</i>导入
			</button>
			<button type="button" class="layui-btn" id="download">
				<i class="layui-icon">&#xe601;</i>导出
			</button>
		</div>

			<div class="layui-card" style="padding: 5px;padding-top:15px;">
				<!-- 三个选项卡 -->
				<div class="layui-tab" lay-filter="tab">
						<ul class="layui-tab-title">
						  <li class="layui-this" lay-id="hr">hr信息</li>
						  <li lay-id="teacher">导师信息</li>
						  <li lay-id="student">实习生信息</li>

						</ul>
						<div class="layui-tab-content">
							<!-- hr -->
							<div class="layui-tab-item  layui-show">
									<div class="layui-row">
											<div class="layui-inline">
												<button class="layui-btn" data-type="getCheckData" isMaximize="0"
													id="addHr" topHeight="600px">
													<i class="layui-icon">&#xe654;</i>新增</button>
												<button class="layui-btn layui-btn-danger" id="deleteHr"
													isMutiDml="1" isConfirm="1">
													<i class="layui-icon">&#xe640;</i>批量删除</button>
													<button class="layui-btn" id="refreshHr">
														<i class="layui-icon">&#x1002;</i>刷新</button>

											</div>
										</div>
								<table class="layui-hide" id="hrTable"
								lay-filter="hrTable"></table>
							</div>
							<!-- teacher -->
							<div class="layui-tab-item">
									<div class="layui-row">
										<div class="layui-inline">
											<button class="layui-btn" data-type="getCheckData" isMaximize="0"
												id="addTeacher" topHeight="600px">
												<i class="layui-icon">&#xe654;</i>新增</button>
											<button class="layui-btn layui-btn-danger" id="deleteTeacher"
												isMutiDml="1" isConfirm="1">
												<i class="layui-icon">&#xe640;</i>批量删除</button>

												<button class="layui-btn" id="refreshTeacher">
													<i class="layui-icon">&#x1002;</i>刷新</button>

										</div>
									</div>
								<table class="layui-hide" id="teacherTable"
								lay-filter="teacherTable"></table>
							</div>
							<!-- student -->
							<div class="layui-tab-item">
								<div class="layui-row">
									<form id="inlineForm" class="layui-form">
										<fieldset class="layui-elem-field">
											<legend>搜索</legend>
											<div class="layui-field-box">
												<div class="demoTable">
													名称：
													<div class="layui-inline">
														<input class="layui-input" name="title" placeholder="输入姓名或工号" autocomplete="off" id="title"/>
													</div>
													<button class="layui-btn" lay-filter="search" lay-submit="lay-submit">
														<i class="layui-icon">&#xe615;</i>搜索</button>

												</div>
											</div>
										</fieldset>
									</form>
									</div>
									<div class="layui-row">
											<div class="layui-inline">
												<button class="layui-btn" data-type="getCheckData" isMaximize="0"
													id="addStudent" topHeight="600px">
													<i class="layui-icon">&#xe654;</i>新增</button>
												<button class="layui-btn layui-btn-danger" id="deleteStudent"
													isMutiDml="1" isConfirm="1">
													<i class="layui-icon">&#xe640;</i>批量删除</button>

													<button class="layui-btn" id="refreshStu">
														<i class="layui-icon">&#x1002;</i>刷新</button>

											</div>
										</div>
										<table class="layui-hide" id="studentTable"
										lay-filter="studentTable"></table>
									</div>

						
						  
						</div>
					  </div>

				<script type="text/html" id="optsbar">
					<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
					<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="resetPwd">重置密码</a>
				</script>
			</div>
	</div>
	</section>
	<footer>
			<p>
				Copyright &copy; 华为技术有限公司 1998-2017 保留一切权利
			</p>
	</footer>
<script src="../static/layui/layui.js"></script>
<script type="text/javascript">

	layui.use([ 'table', 'form', 'element', 'jquery' ,'upload'],
			function() {
						window.jQuery = window.$ = layui.jquery;
						var table = layui.table
						,layer = layui.layer
						,form = layui.form
						,element = layui.element
						,upload = layui.upload;
//导入基本信息
						upload.render({
							elem : '#upload',//绑定元素
							url : '/excel/upload',//上传接口
							accept : 'file',
							exts : 'xlsx',//允许上传的文件后缀
  							size : 5120 ,//最大允许上传的文件大小 kb
							before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
								var index2=layer.load(1);
							},
							done : function(res) {
								//上传完毕回调
                                layer.closeAll('loading');
								layer.msg("上传成功！");
								setTimeout("location.reload()",1000)
							},
							error : function() {
								//请求异常回调
								layer.close('loading');
								window.alert("文件导入失败！系统异常，请重试！");
							}
						});
//导出留言等内容
						$('#download').click(function(){
							var index1=layer.load(1);
							$.ajax({
								type:"get",
								url:"/excel/download",//数据接口
								//dataType : 'JSON',
								success : function(data) {
									layer.close(index1);
									layer.msg('导出信息成功',{time:1000});
								},
								error : function(e) {
									layer.close(index1);
									layer.msg("服务器繁忙！操作失败，请重试！")
								}

							})

						})

//方法级渲染hr列表
					table.render({
							elem : '#hrTable',
							url : '/hr/select', //数据接口
							cols : [ [
							{checkbox : true,fixed : true},
							{field : 'name',width : 100,title : 'hr姓名'},
							{field : 'job_number',width : 200,title : 'hr工号',},
							{field : 'first_dept',title : '所在一级部门',width : 200},
							{field : 'second_dept',title : '所在二级部门',width : 200},
							{fixed : 'right',minWidth : 230,align : 'center',toolbar : '#optsbar'}
							 ] ],
							page : true,

							response : {
								statusName : 'error',
								statusCode : 0,
								msgName : 'message',
								countName : 'count'
							}
						});
						//hr新增
						$('#addHr').on('click', function() {
							layer.open({
								type : 2,
								area : [ '700px', '450px' ],
								fixed : false, //不固定
								maxmin : true,
								content : '../templates/administrator/admin_addHr.html',
								end : function() {
                					table.reload('hrTable', {url: '/hr/select'});
								}
							});
						});
						//hr批量删除
						$('#deleteHr').on('click',function() {
							var checkStatus = table.checkStatus('hrTable'), data = checkStatus.data;
							var id = "";
							for ( var d in data) {
								id = id + data[d].id + ",";
							}
							if (id == "") {
								layer.msg("最少选择一个进行删除！");
							} else {
								//向服务端发送删除指令
								$.ajax({
									url : '/hr/batchDelete?id='+ id  ,//接口
									type : 'get',
									dataType : 'JSON',
									success : function(data) {
										layer.msg(data.msg);
										table.reload('hrTable', {url: '/hr/select'});
									},
									error : function(e) {
										layer.msg("服务器繁忙！操作失败，请重试！")
									}
								
								});
							}
						});
						//刷新hrTable
						$('#refreshHr').click(function(){
							table.reload('hrTable', {url: '/hr/select'});
						});
						//hrTable工具条
						table.on('tool(hrTable)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
							var data = obj.data //获得当前行数据
							,layEvent = obj.event; //获得 lay-event 对应的值
							//console.log(data.name);
							//查看详情
							if (layEvent === 'detail') {
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_hrDetail.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										body.find('#hr_name').text(data.name);
										body.find('#hr_job_number').text(data.job_number);
										body.find('#first_dept').text(data.first_dept);
										body.find('#second_dept').text(data.second_dept);
									}
								});
							} else if (layEvent === 'del'){
								//删除
								layer.confirm('真的删除行么', function(index) {
									var delid=data.id;
									// obj.del(); //删除对应行（tr）的DOM结构
									layer.close(index);
									$.ajax({
										url : '/hr/batchDelete?id='+delid,//数据接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											layer.msg(data.msg);
											table.reload('hrTable', {url: '/hr/select'});
										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									//向服务端发送删除指令
									});
								});
							} else if (layEvent === 'edit') {
								//编辑
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_hrEdit.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										body.find('#hrId').val(data.id);
										body.find('#hr_name').val(data.name);
										body.find('#hr_job_number').val(data.job_number);
										body.find('#first_dept').val(data.first_dept);
										body.find('#second_dept').val(data.second_dept);
									},
									end : function() {
										table.reload('hrTable', {url: '/hr/select'});
									}
								});
							}else if(layEvent === 'resetPwd'){
								//重置成初始密码
								layer.confirm('真的重置为初始密码吗?', function(index) {
									var resetid=data.id;
									//console.log(data.id);
									layer.close(index);
									$.ajax({
										url : '/hr/resetPwd?id='+resetid,//数据接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											//console.log(data);
											layer.msg('成功设置为初始登录密码！',{time:1000});
										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									});
								});
							}
						});



//方法级渲染   导师列表
					table.render({
							elem : '#teacherTable',
							url : '/teacher/select', //数据接口
							page:true,
							cols : [ [ {
								checkbox : true,
								fixed : true
							}, {
								field : 'name',
								width :100,
								title : '导师姓名'
							},  {
								field : 'job_number',
								width : 200,
								title : '导师工号',
								
							}, {
								field : 'first_dept',
								title : '所在一级部门',
								width : 200,
							
							}, 
							{
								field : 'second_dept',
								title : '所在二级部门',
								width : 200,
							
							},
							{
								fixed : 'right',
								minWidth : 230,
								align : 'center',
								toolbar : '#optsbar'
							} ] ],

						});
						//导师新增
						$('#addTeacher').on('click', function() {
							layer.open({
								type : 2,
								area : [ '700px', '450px' ],
								fixed : false, //不固定
								maxmin : true,
								content : '../templates/administrator/admin_addTeacher.html',
								end : function() {
                					table.reload('teacherTable', {url: '/teacher/select'});
								}
							});
						});
						//导师批量删除
						$('#deleteTeacher').on('click',function() {
							var checkStatus = table.checkStatus('teacherTable'), data = checkStatus.data;
							var id = "";
							for ( var d in data) {
								id = id + data[d].id + ",";
							}
							if (id == "") {
								layer.msg("最少选择一个进行删除！");
							} else {
								//向服务端发送删除指令
								$.ajax({
									url : '/teacher/batchDelete?id='+ id  ,//接口
									type : 'get',
									dataType : 'JSON',
									success : function(data) {
										layer.msg(data.msg);
										table.reload('teacherTable', {url: '/teacher/select'});
									},
									error : function(e) {
										layer.msg("服务器繁忙！操作失败，请重试！")
									}
								
								});
							}
						});
						$('#refreshTeacher').click(function(){
							table.reload('teacherTable', {url: '/teacher/select'});
						});
						//teacherTable工具条
						table.on('tool(teacherTable)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
							var data = obj.data //获得当前行数据
							, layEvent = obj.event; //获得 lay-event 对应的值
							//查看详情
							if (layEvent === 'detail') {
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_teacherDetail.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										body.find('#teacher_name').text(data.name);
										body.find('#teacher_job_number').text(data.job_number);
										body.find('#first_dept').text(data.first_dept);
										body.find('#second_dept').text(data.second_dept);
									}
								});
							} else if (layEvent === 'del') {
								//删除
								layer.confirm('真的删除行么', function(index) {
									var delid=data.id;
									// obj.del(); //删除对应行（tr）的DOM结构
									layer.close(index);
									$.ajax({
										url :  '/teacher/batchDelete?id='+ delid  ,//接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											layer.msg(data.msg);
											table.reload('teacherTable', {url: '/teacher/select'});

										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									//向服务端发送删除指令
									});
								});
							} else if (layEvent === 'edit') {
								//编辑
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_teacherEdit.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										//console.log(data);
										body.find('#teacherId').val(data.id);
										body.find('#teacher_name').val(data.name);
										body.find('#teacher_job_number').val(data.job_number);
										body.find('#first_dept').val(data.first_dept);
										body.find('#second_dept').val(data.second_dept);
									},
									end : function() {
										table.reload('teacherTable', {url: '/teacher/select'});
									}
								});
							}else if(layEvent === 'resetPwd'){
								//重置成初始密码
								layer.confirm('真的重置为初始密码吗?', function(index) {
									var resetid=data.id;
									//console.log(data.id);
									layer.close(index);
									$.ajax({
										url : '/teacher/resetPwd?id='+resetid,//数据接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											//console.log(data);
											layer.msg('成功设置为初始登录密码！',{time:1000});
										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									});
								});
							}
						});




//方法级渲染   学生列表
						table.render({
							elem : '#studentTable',
							url : '/stuinfo/selectByAdmin', //数据接口
							page:true
							,cols : [ [ 
								{checkbox : true,fixed : 'left'},
								{field : 'name',width : 100,title : '学生姓名'},
								{field : 'job_number',width : 100,title : '学生工号'},
								{field : 'phone_number',title : '联系方式',width : 100},
								{field : 'sex',width : 80,title : '性别'},
								{field : 'id_number',width : 100,title : '身份证号'},
								{field : 'email_addr',title : '邮箱地址',width : 100,},
								{field : 'education',minWidth : 80,title : '学历'}, 
								{field : 'graduate_college',width : 100,title : '毕业院校'},
								{field : 'major',title : '专业',width : 100,}, 
								{field : 'job',width : 100,title : '签约岗位'},
								{field : 'job_direction',width :100,title : '岗位方向'},
								{field : 'place',width : 80,title : '工作地'},
								{field : 'hire_time',title : '入职时间',width : 110,},
								{field : 'first_dept',width : 120,title : '所在一级部门'},
								{field : 'second_dept',width : 120,title : '所在二级部门'},
								{field : 'hr_name',title : '部门HR姓名',width : 120,},
								{field : 'hr_job_number',width : 120,title : '部门HR工号'},
								{field : 'teacher_name',width : 100,title : '导师姓名'},
								{field : 'teacher_job_number',title : '导师工号',width : 100,},
								{field : 'quit_time',width :110,title : '离职时间'},
								{field : 'quit_reason',width : 100,title : '离职原因'},
								{fixed : 'right',minWidth : 230,align : 'center',toolbar : '#optsbar'}
							] ],
						});
						//实习生新增
						$('#addStudent').on('click', function() {
							layer.open({
								type : 2,
								area : [ '700px', '450px' ],
								fixed : false, //不固定
								maxmin : true,
								content : '../templates/administrator/admin_addStudent.html',
								end : function() {
                					table.reload('studentTable', {url: '/stuinfo/selectByAdmin'});
								}
							});
						});
						//student批量删除
						$('#deleteStudent').on('click',function() {
							var checkStatus = table.checkStatus('studentTable'), data = checkStatus.data;
							var id = "";
							for ( var d in data) {
								id = id + data[d].id + ",";
							}
							if (id == "") {
								layer.msg("最少选择一个进行删除！");
							} else {
								//向服务端发送删除指令
								$.ajax({
									url : '/stuinfo/batchDelete?id='+ id  ,//接口
									type : 'get',
									dataType : 'JSON',
									success : function(data) {
										layer.msg(data.msg);
										table.reload('studentTable', {url: '/stuinfo/selectByAdmin'});
									},
									error : function(e) {
										layer.msg("服务器繁忙！操作失败，请重试！")
									}
								
								});
							}
						});
						//搜索功能
						form.on('submit(search)', function(data) {
							var key=$("#title").val();
							table.reload('studentTable', {where :{key:key},page:{curr:1}});
							return false;
						});
						//刷新
						$('#refreshStu').click(function(){
							table.reload('studentTable', {url: '/stuinfo/selectByAdmin'});
						});
						//studentTable工具条
						table.on('tool(studentTable)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
							var data = obj.data //获得当前行数据
							, layEvent = obj.event; //获得 lay-event 对应的值
							//查看详情
							if (layEvent === 'detail') {
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_studentDetail.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										body.find('#name').text(data.name);
										body.find('#job_number').text(data.job_number);
										body.find('#phone_number').text(data.phone_number);
										body.find('#sex').text(data.sex);
										body.find('#id_number').text(data.id_number);
										body.find('#email_addr').text(data.email_addr);
										body.find('#education').text(data.education);
										body.find('#graduate_college').text(data.graduate_college);
										body.find('#major').text(data.major);
										body.find('#job').text(data.job);
										body.find('#job_direction').text(data.job_direction);
										body.find('#place').text(data.place);
										body.find('#hire_time').text(data.hire_time);
										body.find('#first_dept').text(data.first_dept);
										body.find('#second_dept').text(data.second_dept);
										body.find('#hr_name').text(data.hr_name);
										body.find('#hr_job_number').text(data.hr_job_number);
										body.find('#teacher_name').text(data.teacher_name);
										body.find('#teacher_job_number').text(data.teacher_job_number);
										body.find('#quit_time').text(data.quit_time);
										body.find('#quit_reason').text(data.quit_reason);
									}
								});
							} else if (layEvent === 'del') {
								//删除
								layer.confirm('真的删除行么', function(index) {
									var delid=data.id;
									layer.close(index);
									$.ajax({
										url :'/stuinfo/batchDelete?id='+ delid  ,//接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											layer.msg(data.msg);
											table.reload('studentTable', {url: '/stuinfo/selectByAdmin'});
										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									//向服务端发送删除指令
									});
								});
							} else if (layEvent === 'edit') {
								//编辑
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '../templates/administrator/admin_studentEdit.html',
									success:function(layero,index){
										var body=layer.getChildFrame('body',index);//获取iframe页的DOM
										body.find('#studentId').val(data.id);
										body.find('#name').val(data.name);
										body.find('#job_number').val(data.job_number);
										body.find('#phone_number').val(data.phone_number);
										if(data.sex=='女'){
											body.find('#female').attr('checked',true);
										}else{
											body.find('#male').attr('checked',true);
										}
										body.find('#id_number').val(data.id_number);
										body.find('#email_addr').val(data.email_addr);
										body.find('#education').val(data.education);
										body.find('#graduate_college').val(data.graduate_college);
										body.find('#major').val(data.major);
										body.find('#job').val(data.job);
										body.find('#job_direction').val(data.job_direction);
										body.find('#place').val(data.place);
										body.find('#hire_time').val(data.hire_time);
										body.find('#first_dept').val(data.first_dept);
										body.find('#second_dept').val(data.second_dept);
										body.find('#hr_name').val(data.hr_name);
										body.find('#hr_job_number').val(data.hr_job_number);
										body.find('#teacher_name').val(data.teacher_name);
										body.find('#teacher_job_number').val(data.teacher_job_number);
										body.find('#quit_time').val(data.quit_time);
										body.find('#quit_reason').val(data.quit_reason);
									},
									end : function() {
										table.reload('studentTable', {url: '/stuinfo/selectByAdmin'});
									}
								});
							}else if(layEvent === 'resetPwd'){
								//重置成初始密码
								layer.confirm('真的重置为初始密码吗?', function(index) {
									var resetid=data.id;
									//console.log(data.id);
									layer.close(index);
									$.ajax({
										url : '/stuinfo/resetPwd?id='+resetid,//数据接口
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											//console.log(data);
											layer.msg('成功设置为初始登录密码！',{time:1000});
										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，请重试！")
										}
									});
								});
							}
						});

						 //退出按钮功能
						 $('#sign_out').click(function(){
							$.ajax({
								type:'get',
								url:'/logout',
							});
							window.open('login','_self')
						 });
					});
</script>

 
</body>
</html>