<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>administrator</title>
</head>
<body>
<div class="layui-fluid" id="LAY-app-message">
	<div class="layui-card" style="padding: 5px;">
		<div class="layui-row">
			<form id="inlineForm" class="layui-form">
				<fieldset class="layui-elem-field">
					<legend>搜索</legend>
					<div class="layui-field-box">
						<div class="demoTable">
							名称：
							<div class="layui-inline">
								<input class="layui-input" name="title" autocomplete="off">
							</div>
							<button class="layui-btn" lay-submit lay-filter="search">
								<i class="layui-icon">&#xe615;</i>搜索</button>
							<button type="button" class="layui-btn" id="input">导入</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="layui-row">
			<div class="layui-inline">
				<button class="layui-btn" data-type="getCheckData" isMaximize="0"
					id="add" topHeight="600px">
					<i class="layui-icon">&#xe654;</i>新增</button>
				<button class="layui-btn layui-btn-danger" id="delete"
					isMutiDml="1" isConfirm="1">
					<i class="layui-icon">&#xe640;</i>批量删除</button>
				<a href="javascript:;" layadmin-event="refresh" title="刷新">
					<button class="layui-btn" id="refresh">
						<i class="layui-icon">&#x1002;</i>刷新</button>
				</a>
			</div>

		</div>


	<script type="text/html" id="optsbar">
		<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>


		<table class="layui-hide" id="listTable"
			lay-filter="listTable"></table>


	</div>
</div>
<script src="../static/layui/layui.js"></script>
<script type="text/javascript">

	layui.use([ 'table', 'form', 'element', 'jquery' ,'upload'],
			function() {
						window.jQuery = window.$ = layui.jquery;
						var table = layui.table
						,layer = layui.layer
						,form = layui.form
						,element = layui.element
						,upload = layui.upload;
						//方法级渲染
						table.render({
							elem : 'listTable',
							url : '', //数据接口
							cols : [ [ {
								checkbox : true,
								fixed : true
							}, {
								field : 'username',
								minWidth : 200,
								title : '姓名'
							},  {
								field : 'tel',
								minWidth : 200,
								title : '联系方式',
								templet : '#format_city'
							}, {
								field : 'job',
								title : '岗位',
								width : 80,
								sort : true,
								templet : '#format_status'
							}, {
								fixed : 'right',
								minWidth : 200,
								align : 'center',
								toolbar : '#optsbar'
							} ] ],
							page : true,
							limits : [ 15, 20, 30, 50, 100, 500 ],
							limit : 15 //默认采用60
							,
							response : {
								statusName : 'error',
								statusCode : 0,
								msgName : 'message',
								countName : 'count'
							}
						});

						form.on('submit(search)', function(data) {
							table.reload('listTable', {
								where : data.field
							});
							return false;
						});

						table.on('tool(listTable)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
							var data = obj.data //获得当前行数据
							, layEvent = obj.event; //获得 lay-event 对应的值
							if (layEvent === 'detail') {
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : ''
								});
							} else if (layEvent === 'del') {
								layer.confirm('真的删除行么', function(index) {
									// obj.del(); //删除对应行（tr）的DOM结构
									layer.close(index);
									$.ajax({
										url : '',
										type : 'get',
										dataType : 'JSON',
										success : function(data) {
											layer.msg(data.msg);
											layui.index.render();

										},
										error : function(e) {
											layer.msg("服务器繁忙！操作失败，清重试！")
										}
									//向服务端发送删除指令
									});
								});
							} else if (layEvent === 'edit') {
								layer.open({
									type : 2,
									area : [ '700px', '450px' ],
									fixed : false, //不固定
									maxmin : true,
									content : '',
									end : function() {
										layui.index.render();
									}
								});
							}
						});

						
						$('delete').on('click',function() {
								var checkStatus = table.checkStatus('listTable'), data = checkStatus.data;
								var id = "";
								for ( var d in data) {
								     id = id + data[d].id + ",";
								}
								if (id == "") {
								   layer.msg("最少选择一个进行删除！");
								} else {
									     $.ajax({url : '/eems/api'
												+ base_url
												+ 'delete?id='
												+ id,type : 'get',
												dataType : 'JSON',
												success : function(data) {
													layer.msg(data.msg);
													layui.index.render();
													},
													error : function(e) {
														layer.msg("服务器繁忙！操作失败，清重试！")
													}
								//向服务端发送删除指令
										});
								}
						});
						$('#add').on('click', function() {
							layer.open({
								type : 2,
								area : [ '700px', '450px' ],
								fixed : false, //不固定
								maxmin : true,
								content : '',
								end : function() {
									layui.index.render();
								}
							});
						});
						//导入导出 
						upload.render({
							elem : '#input',//绑定元素
							url : '',//上传接口
							accept : 'file',
							done : function(res) {
								//上传完毕回调
								layer.msg("成功插入" + res + "条数据！");
								table.reload('listTable');
							},
							error : function() {
								//请求异常回调
								window.alert("文件导入失败！系统异常，请重试！");
							}
						})
					});
</script>

 
</body>
</html>