<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Test</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <style>
        body{margin: 10px;}
    </style>
</head>
<body>
    <div class="layui-row">
        <div class="layui-inline">
            <button class="layui-btn" data-type="getCheckData" isMaximize="0"
                    id="add" topHeight="600px">
                    <i class="layui-icon">&#xe654;</i>新增
            </button>

            <a href="javascript:;" layadmin-event="refresh" title="刷新">
                <button class="layui-btn" id="refresh">
                    <i class="layui-icon">&#x1002;</i>刷新
                </button>
            </a>
        </div>

    </div>

    <table class="layui-hide" id="test" lay-filter="demo">
    </table>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
    </script>




    <script src="../static/layui/layui.all.js"></script>
    <script>

        layui.use(['layer', 'table','element','jquery'], function(){
            window.jQuery = window.$ = layui.jquery;
            var layer = layui.layer //弹层
                ,table = layui.table //表格
                ,element = layui.element; //元素操作

            //向世界问个好
            //

            //方法渲染，执行一个 table 实例
            table.render({
                elem: '#test'
                ,height: 332
                ,url: '/demo/table/user/' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:200, align:'center', sort: true, fixed: 'left'}
                    ,{field: 'username', title: '用户名',align:'center', width:200}
                    ,{field: 'sex', title: '性别', width:200, align:'center',sort: true}
                    ,{field: 'job', title: '职位',align:'center', width:200}
                    ,{field: 'message', title: '留言标题',align:'center', width: 550}
                    ,{fixed: 'right',  align:'center', toolbar: '#barDemo'}
                ]]
            });

            //监听工具条
            table.on('tool(demo)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                if(layEvent === 'detail'){
                    layer.msg('查看操作');
                }
            });


            //新增留言
            $('#add').on('click', function() {
                //layer.msg('Hello World');
                layer.open({
                    type : 2,
                    area : [ '800px', '600px' ],
                    title: ['留言', 'font-size:18px;'],
                    fixed : false, //不固定
                    maxmin : true,
                    content : '../templates/add.html',
                    // end : function() {
                    //     layui.index.render();
                    // }
                });
            });
            //

        });
    </script>
</body>
</html>
