<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>hr</title>

</head>
<body>
        <div class="demoTable">
                名称：
                <div class="layui-inline">
                    <input class="layui-input" name="title" autocomplete="off">
                </div>
                <button class="layui-btn" lay-submit lay-filter="search">
                    <i class="layui-icon">&#xe615;</i>搜索
                </button>
            </div>
    <div class="layui-collapse"  lay-accordion>
        <div class="layui-colla-item">
          <h2 class="layui-colla-title">导师1</h2>
          <div class="layui-colla-content">
                <table class="layui-hide" id="listTable1"
                lay-filter="listTable1"></table>
          </div>
        </div>
        <div class="layui-colla-item">
          <h2 class="layui-colla-title">导师2</h2>
          <div class="layui-colla-content">
                <div class="layui-colla-content  layui-show">
                        <table class="layui-hide" id="listTable2"
                        lay-filter="listTable2"></table>
                  </div>
          </div>
        </div>
      </div>
      <script src="../static/layui/layui.js"></script>
      <script>
      //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
      layui.use(['element','table'], function(){
        var element = layui.element,
            table=layui.table;
             //方法渲染，执行一个 table 实例
             table.render({
                elem: '#listTable1'
                ,height: 332
                ,url: '' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:200, align:'center', sort: true, fixed: 'left'}
                    ,{field: 'username', title: '用户名',align:'center', width:200}
                    ,{field: 'sex', title: '性别', width:200, align:'center',sort: true}
                    ,{field: 'job', title: '职位',align:'center', width:200}
                    ,{field: 'message', title: '留言标题',align:'center', width: 550}
                    ,{fixed: 'right',  align:'center', toolbar: '#barDemo'}
                ]]
            });
                        //方法渲染，执行一个 table 实例
                        table.render({
                elem: '#listTable2'
                ,height: 332
                ,url: '' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:200, align:'center', sort: true, fixed: 'left'}
                    ,{field: 'username', title: '用户名',align:'center', width:200}
                    ,{field: 'sex', title: '性别', width:200, align:'center',sort: true}
                    ,{field: 'job', title: '职位',align:'center', width:200}
                    ,{field: 'message', title: '留言标题',align:'center', width: 550}
                    ,{fixed: 'right',  align:'center', toolbar: '#barDemo'}
                ]]
            });
      });
      </script>
    
</body>
</html>



