<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>noPermission</title>
    <style>
       body{
            background-color:#eeeeee;
       }
        div.content{
            width:500px;
            height:500px;
            text-align:center;
            margin:auto;
            margin-top:200px;
        }
        .shoawd{
            width:200px;
            height:20px;
            background:#dddddd;
            top:25px;
            border-radius:100%;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="ic">
            <i class="layui-icon" style="font-size:200px; color:orange;">&#xe69c;</i>
        </div>
        <div class="shoawd">

        </div>
        <br/>
        <h1 style="font:幼圆">抱歉，您没有相关操作的权限....</h1>
    </div>
</body>
</html>