<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>student</title>
    <style>
        body{
            margin:0px;
            background: #f4f4f4;
            height:100%; 
            overflow-y: scroll;
            min-height:100%;
            box-sizing:border-box;
            padding-bottom: 180px;
            min-width: 1000px;
            position: relative!important;
            display: block;
        }
        header{
            width:100%;
            min-width: 1000px;
            box-shadow: 0 1px 0 0 #ddd;
            height:80px;
            background:#fff;
            margin-bottom: 40px;
        }
        header .top{
            width:1000px;
            margin:0 auto;
            background:url(../static/logo.jpg) no-repeat;
            background-size: 100px 80px;
        }
        header .top h1{
            display:inline-block;
            margin-left:120px;
            line-height: 80px;
        }
        header .top button{
            margin-left:450px;
            margin-top:-10px;
        }
        section{
            
            width:100%;
            margin:0 auto;    
            min-height:600px;
            display:block;
            margin-bottom:30px;           
        }
        section div#container{
            background:#fff;
            width:1000px;
            margin:0 auto;
            padding:10px;
        }
        footer{
            padding-top: 40px;
            height: 100px;
            box-sizing: border-box;
            text-align: center;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            background: #444547;
            font-size: 12px;
            min-height: 28px;
            
        }
        footer p{
            color: #777;
            line-height: 24px;
        }
    </style>
</head>
<body>
    <header>
        <div class="top">
            <h1>华为 实习生管理信息系统</h1>           
            <button class="layui-btn" id="sign_out">退出</button>
        </div>
    </header>
    <section>
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" id="container">
                <ul class="layui-tab-title">
                  <li class="layui-this">个人中心</li>
                  <li>培养计划</li>
                  <li>我的留言</li>
                  <li>月度总结</li>
                  <li>修改登录密码</li>
                </ul>
                <div class="layui-tab-content">
                  
                  <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="/stuinfo/update" method="post" id="myForm">
                        <input type="hidden" name="id" id="id"/>

                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                            <input type="text" name="name" lay-verify="required" class="layui-input" id="name"/>
                            </div>

                            <label class="layui-form-label">工号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="job_number" lay-verify="required" class="layui-input" id="job_number"/>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">联系方式</label>
                            <div class="layui-input-inline">
                            <input type="text" name="phone_number" value="111111" lay-verify="phone"  class="layui-input" id="phone_number" required="required"/>
                            </div>

                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="sex" value="男" title="男" id="male"/>
                                <input type="radio" name="sex" value="女" title="女" id="female"/>
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="id_number" lay-verify="identity" class="layui-input" id="id_number"/>
                            </div>

                            <label class="layui-form-label">邮箱地址</label>
                            <div class="layui-input-inline">
                                <input type="text" id="email_addr" lay-verify="email" class="layui-input" />
                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">学历</label>
                            <div class="layui-input-inline">
                                <select name="education" lay-verify="required" id="education" autocomplete="off">
                                    <option value="请选择学历">请选择学历</option>
                                    <option value="博士">博士</option>
                                    <option value="硕士">硕士</option>
                                    <option value="本科">本科</option>
                                </select>
                            </div>

                            <label class="layui-form-label">毕业院校</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="graduate_college" name="graduate_college"/>
                            </div>
                        </div>

                        <div class="layui-form-item" >
                            <label class="layui-form-label">专业</label>
                            <div class="layui-input-inline">
                                <input type="text" name="major" class="layui-input" id="major"/>
                            </div>
                            <label class="layui-form-label">签约岗位</label>
                            <div class="layui-input-inline">
                                <input type="text" name="job" class="layui-input" id="job"/>
                            </div>
                        </div>
                        <div class="layui-form-item" lay-filter="user_message">
                            <label class="layui-form-label">签约方向</label>
                            <div class="layui-input-inline">
                                <input type="text" name="job_direction" class="layui-input" id="job_direction"/>
                            </div>

                            <label class="layui-form-label">工作地</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="place" name="place"/>
                            </div>

                        </div>
                        <div class="layui-form-item" lay-filter="user_message">
                                <label class="layui-form-label">所在一级部门</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="first_dept" name="first_dept"/>
                                </div>
    
                                <label class="layui-form-label">所在二级部门</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="second_dept" name="second_dept"/>
                                </div>
                        </div>
                        <div class="layui-form-item" lay-filter="user_message">
                            <label class="layui-form-label">部门HR姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="hr_name" name="hr_name"/>
                            </div>

                            <label class="layui-form-label">部门HR工号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="hr_job_number" name="hr_job_number"/>
                            </div>
                        </div>
                        <div class="layui-form-item" lay-filter="user_message">
                            <label class="layui-form-label">导师姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input"  id="teacher_name" name="teacher_name"/>
                            </div>

                            <label class="layui-form-label">导师工号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="teacher_job_number" name="teacher_job_number"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                                <label class="layui-form-label">入职时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="hire_time" name="hire_time"/>
                                </div>
                            <label class="layui-form-label">离职时间</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" id="quit_time" name="quit_time"/>
                            </div>
                        </div>

                        <div class="layui-form-item  layui-form-text">
                            <label class="layui-form-label">离职原因</label>
                            <div class="layui-input-block">
                                <textarea name="quit_reason" id="quit_reason" placeholder="请输入内容" class="layui-textarea" style="height:100px;"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item" lay-filter="user_message">
                            <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">保存修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>

                    </form>
                        
                  </div>

                  <!--培养计划-->
                  <div class="layui-tab-item">
                      <table class="layui-table">
                          <tr>
                              <th style="width:70px;">月份</th>
                              <td id="month"></td>
                          </tr>
                          <tr>
                              <th style="width:70px;">培养目标</th>
                              <td id="target"></td>
                          </tr>

                      </table>
                      <table id="hr_plan" lay-filter="hr_plan"></table>
                      <div id="plan_page" style="text-align:center"></div>
                  </div>
                  
                  <!--我的留言-->
                  <div class="layui-tab-item">
                        <div class="layui-row">
                                <div class="layui-inline">
                                    <button class="layui-btn" data-type="getCheckData" isMaximize="0"
                                            id="add" topHeight="600px">
                                            <i class="layui-icon">&#xe654;</i>新增
                                    </button>
                        

                                    <button class="layui-btn" id="refresh">
                                            <i class="layui-icon">&#x1002;</i>刷新
                                    </button>

                                </div>
                        
                            </div>
                            <table class="layui-hide" id="message_table" lay-filter="message_table">
                                </table>
                              <script type="text/html" id="optsbar">
                                  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                              </script>
                  </div>
                  <!--月度总结-->
                  <div class="layui-tab-item">
                        <form class="layui-form layui-form-pane" id="summaryForm" lay-filter="summaryForm">
                      <div class="layui-form-item">
                          <label class="layui-form-label">时间</label>
                          <div class="layui-input-block">
                              <input type="text" name="month" id="summaryMonth" class="layui-input" readonly="true"/>
                          </div>

                          <label class="layui-form-label" style="height:100px;border-top:0px;">月度工作<br/>学习总结</label>
                          <div class="layui-input-block">
                                    <textarea name="summary" class="layui-textarea"
                                              maxlength="4000" id="summary"  style="resize:none;border-top:0px;" readonly="true"></textarea>
                          </div>

                          <label class="layui-form-label" style="height:100px;border-top:0px;">问题和困难</label>
                          <div class="layui-input-block">
                                    <textarea name="question" class="layui-textarea" id="question"
                                              maxlength="4000" style="resize:none;border-top:0px;" readonly="true"></textarea>
                          </div>

                          <label class="layui-form-label" style="height:100px;border-top:0px;">下个月计划</label>
                          <div class="layui-input-block">
                                    <textarea name="plan" class="layui-textarea" id="plan"
                                              maxlength="4000" style="resize:none;border-top:0px;" readonly="true"></textarea>
                          </div>

                      </div>
                      <div class="layui-form-item" lay-filter="">
                          <div class="layui-input-block">
                              <button class="layui-btn"  id="summary_update" style="float:right;">编辑</button>
                          </div>
                      </div>
                  </form>
                        <div id="summary_page" style="text-align:center"></div>
                  </div>
                    <!--修改登录密码-->
                        <div class="layui-tab-item">
                            <form>
                                <div class="layui-form-item" >
                                    <label class="layui-form-label">输入密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" class="layui-input" name="password" id="psw1"
                                               placeholder="由英文或数字组成，且不少于6个字符" required="required"/>
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" class="layui-input" id="psw2" required="required" lay-verify="required"/>
                                    </div>
                                    <!--<div class="layui-form-mid layui-word-aux">1-6个英文或汉字</div>-->
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" type="submit" id="modifyPSW">提交修改</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                       </div>

                </div>
              </div>
            </section>
            <footer>
                <p>
                    Copyright
                </p>
            </footer>
              <script src="../static/layui/layui.js"></script>
              <script>
              //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
              layui.use(['element', 'form','laydate',"table","jquery","laypage"],function(){
                window.jQuery = window.$ = layui.jquery;
                //扩展一个jquery的setform方法
                             (function ($) {
                                $.fn.setform = function (jsonValue) {
                                     var obj=this;
                                    $.each(jsonValue, function (id, ival) {obj.find("#" + id).val(ival); })
                                }
                             })(jQuery)
                var element = layui.element,//元素操作
                    form=layui.form,//表单操作
                    laydate=layui.laydate,//日期操作
                    table = layui.table,//表格
                    laypage=layui.laypage;//分页
                    laydate.render({
                        elem:"#hire_time"//指定日期元素
                    });
                    laydate.render({
                        elem:"#quit_time"//指定日期元素
                    });
                //个人中心
                //学生查看自己的基本信息
                var studId;
                $.ajax({
                    url:"/stuinfo/select",
                    type:"get",
                    dataType:"json",
                    success:function(data){
                       // console.log(data);
                        //获取到值放入到表单中
                        $("#myForm").setform(data.data);
                        //为select赋值
                        //$('select').val(data.data.education);
                         form.render('select');
                        //console.log(data.data.sex);
                        if(data.data.sex=='男'){
                            $('#male').attr('checked',true);
                            form.render('radio')
                        }else{
                            $('#female').attr('checked',true);
                            form.render('radio')
                        }
                   },
                    error : function(e) {
                        layer.msg("服务器繁忙！操作失败，清重试！")
                    }
                });

                     //修改个人信息  提交到后台 并重新渲染页面
                form.on('submit(formDemo)',function(data){
                    console.log(data.field);//当前容器的全部表单字段
                    $.ajax({
                        type: 'post',
                        data:data.field,
                        url: '/stuinfo/update',
                        success: function(data) {
                           console.log(data);
                           layer.msg('修改成功');
                        },
                        error: function(e) {
                            layer.msg('error:请求出错！');
                        }
                    });
                    return false;
                });
                //培养计划 
                 //渲染 laypage分页 实例
            laypage.render({
                elem: 'plan_page' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    var month=obj.curr;
                    $("#month").html('第'+ month +'个月');
                    $.ajax({
                        type:"get",//提交类型
                        url:"/plan/selectByStu",//请求的地址
                        data:{
                            month:obj.curr,//月份
                            //stuid:id,//学生id
                        },//提交的数据
                        dataType:"json",//返回的类型 json
                        success:function(data){
                           if(data.data){
                                $('#target').text(data.data.target);
                           }else{
                                 $('#target').text('');
                           }
                        },
                        error:function(){
                            layer.msg("请求异常，请重试");
                        }

                    });
                    table.render({
                        elem:"#hr_plan"
                       ,page:true
                        ,url:"/plan/selectDetailByStu"//数据接口
                        ,where:{month:month}
                        ,cols:  [[ //表头
                            //{field: 'month', title: '月份', width: 80, rowspan: 4} //rowspan即纵向跨越的单元格数
                           // colspan即横跨的单元格数，这种情况下不用设置field和width
                            {field: 'period', title: '时间', width:100}
                           ,{field: 'knowledge', title: '知识点及掌握程度', width: 300}
                            ,{field: 'material', title: '学习材料', width: 300}
                           ,{field: 'inspect', title: '输出及考核方式',width:300}

                        ]]
                   });
                }
            });
                //我的留言
                    //方法渲染，执行一个 table留言 实例
                    table.render({
                        elem: '#message_table'
                        ,url: '/message/select' //数据接口
                        ,page: true //开启分页
                        ,cols: [[ //表头                   
                            {field: 'type', title: '留言类型', width:150, align:'center',fixed: 'left'}
                            ,{field: 'message', title:'勇敢星有话说', align:'center',fixed:'right'}
                            ,{fixed : 'right',width : 200,align : 'center',toolbar : '#optsbar'}
                        ]]
                    });
                    //新增留言
                    $('#add').on('click', function() {
                        //layer.msg('Hello World');
                        layer.open({
                            type : 2,
                            area : [ '600px', '400px' ],
                            title: ['留言', 'font-size:18px;'],
                            fixed : false, //不固定
                            maxmin : true,
                            content : '../templates/student/student_addMessage.html',
                            end : function() {
                                table.reload('message_table',{url:'/message/select'});
                            }
                        });
                    });
            //监听留言工具条message_table
                table.on('tool(message_table)', function(obj) {
                    var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                    //console.log(data.name);
                    if (layEvent === 'del'){
                        //删除
                        layer.confirm('真的删除行么', function(index) {
                            var delid=data.id;
                            // obj.del(); //删除对应行（tr）的DOM结构
                            layer.close(index);
                            $.ajax({
                                url : '/message/delete?id='+delid,//数据接口
                                type : 'get',
                                dataType : 'JSON',
                                success : function(data) {
                                    layer.msg(data.msg);
                                     table.reload('message_table',{url:'/message/select'});
                                },
                                error : function(e) {
                                    layer.msg("服务器繁忙！操作失败，清重试！")
                                }
                            //向服务端发送删除指令
                            });
                        });
                    } else if (layEvent === 'edit') {
                        //编辑
                        layer.open({
                            type : 2,
                            area : [ '700px', '450px' ],
                            fixed : false, //不固定
                            maxmin : true,
                            content : '../templates/student/student_editMessage.html',
                            success:function(layero,index){
                                var body=layer.getChildFrame('body',index);//获取iframe页的DOM
                                body.find('#messageId').val(data.id);
                                body.find('#type').val(data.type);
                                body.find('#message').val(data.message);
                            },
                            end : function() {
                                table.reload('message_table',{url:'/message/select'});
                            }
                        });
                    }
                });
            //刷新留言
            $('#refresh').click(function(){
                table.reload('message_table',{url:'/message/select'});
            });

            //月度总结
            //编辑或新增月度总结
               $('#summary_update').click(function(){
                    layer.open({
                        type : 2,
                        area : [ '700px', '520px' ],
                        fixed : false, //不固定
                        maxmin : true,
                        content : '../templates/student/student_editPlan.html',
                        success:function(layero,index){
                            var body=layer.getChildFrame('body',index);//获取iframe页的DOM
                            var objPlan={month:$('#summaryMonth').val(),
                                         question:$('#question').val(),
                                         plan:$('#plan').val(),
                                         summary:$('#summary').val()
                                         }
                            //使用jquery的setform 扩展方法,获取到值放入到表单中
                                    body.find("#summaryForm").setform(objPlan);

                        },
                        end:function(){
                            $.ajax({
                                url:"/stusummary/select",
                                type:"get",
                                dataType:"json",
                                data:{month:$("#summaryMonth").val()},
                                success:function(data){
                                    //console.log(data.data);
                                    if(data.data){
                                        //使用jquery的setform 扩展方法,获取到值放入到表单中
                                        $("#summaryForm").setform(data.data);
                                    }else{
                                        $("#summaryForm").setform({summary:'',question:'',plan:''});
                                    }
                               },
                               error : function(e) {
                                    layer.msg("服务器繁忙！操作失败，清重试！")
                               }
                            });
                        }
                    });
                    return false;
               });
               //学生查看自己的月度总结
                    laypage.render({
                    elem: 'summary_page' //分页容器的id
                    ,count: 60 //总页数
                    ,prev:'上个月'
                    ,next:'下个月'
                    ,skin: '#1E9FFF' //自定义选中色值
                    ,jump: function(obj){
                        var month=obj.curr;
                        //$("#summaryMonth").val('第'+ month +'个月');
                        $("#summaryMonth").val(month);
                        $.ajax({
                            url:"/stusummary/select",
                            type:"get",
                            dataType:"json",
                            data:{month:month},
                            success:function(data){
                                //console.log(data.data);
                                if(data.data){
                                    //使用jquery的setform 扩展方法,获取到值放入到表单中
                                    $("#summaryForm").setform(data.data);
                                }else{
                                    $("#summaryForm").setform({summary:'',question:'',plan:''});
                                }
                           },
                           error : function(e) {
                                layer.msg("服务器繁忙！操作失败，清重试！")
                           }
                        });
                    }
                  })

               //修改登录密码
                $('#modifyPSW').click(function(){
                var psw1=$('#psw1').val(),
                    psw2=$('#psw2').val();
                    //有小于号就报错！！！！这是为啥  success  进不去！！！
                    if(psw1.length ==5){
                        layer.msg('密码长度不能少于6个');
                        return false;
                    }else if(psw1!==psw2){
                       layer.msg('两次输入密码不一致，请重新输入');
                       return false;
                    }else{
                        $.ajax({
                            type:"post",
                            data:{pwd:psw1},
                            url:"/stuinfo/updatePwd",
                            success:function(data){
                                //alert('werewfde');
                                //layer.msg(data.msg);
                            },
                            error : function(e) {
                                layer.msg("服务器繁忙！操作失败，请重试！")
                            }
                        });
                    }

                });



              //退出按钮功能
              $('#sign_out').click(function(){
                                window.open('login','_self')
                            });
              });
              </script>
                    
    
</body>
</html>