<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, userr-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>培养计划</title>
</head>
<body>
        <table class="layui-hide" id="hr" lay-filter="demo"></table>
   
            <form class="layui-form  layui-form-pane" action="">

                    <div class="layui-form-item  layui-form-text">
                        <label class="layui-form-label">培养计划</label>
                        <div class="layui-input-block">
                            <textarea name="summary" placeholder="请输入内容" class="layui-textarea" style="height:300px;"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo" style="float:right;">新增培养计划</button>
                        </div>
                    </div>
                </form>
    
</body>
</html>