<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, userr-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <title>培养计划</title>
</head>
<body>
        <table id="teacher_plan" lay-filter="teacher_plan"></table>
                    <div id="plan_page" style="text-align:center"></div>
    <script src="../static/layui/layui.js"></script>
    <script>
        layui.use(['table',"laypage"], function(){
            var table = layui.table,
                laypage=layui.laypage;//分页
            //渲染 laypage分页 实例
            laypage.render({
                elem: 'plan_page' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    //alert(obj.curr);
                    var month=obj.curr;
                    table.render({
                        elem:"#teacher_plan"
                        ,page:true
                        ,url:""//数据接口
                        ,where:{month:month}
                        ,cols:  [[ //表头
                            {field: 'month', title: '月份', width: 80, rowspan: 2} //rowspan即纵向跨越的单元格数
                            ,{field: 'target', title: '培养目标', width: 100}
                            //colspan即横跨的单元格数，这种情况下不用设置field和width
                        ], [
                            {field: 'period', title: '时间', width:100}
                            ,{field: 'knowledge', title: '知识点及掌握程度', width: 300}
                            ,{field: 'material', title: '学习材料', width: 300}
                            ,{field: 'inspect', title: '输出及考核方式',width:300}
                        ]]
                    });

                }
       });
                        
            //监听单元格编辑
            table.on('edit(teacher_plan)', function(obj){
                var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
                layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
            });
        });
    </script>
</body>

</html>