<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>teacher</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <style>
        body{margin: 10px;}
        header{
            width:100%;
            min-width: 1000px;
            height:80px;
            background:url(../static/bg.gif) repeat;
        }
        .top{
            width:1000px;
            margin:0 auto;
            height:100%;
        }
        .content{
            width:80%;
            margin:0 auto;

        }

    </style>
</head>
<body>
    <header>
        <div class="top">
            <h1>华为 实习生管理信息系统</h1>
            <button class="layui-btn">退出</button>
        </div>
    </header>
   <div class="content">
        <table class="layui-hide" id="test" lay-filter="demo">
            </table>
   </div>



    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="plan">制定培养计划</a>
        <a class="layui-btn layui-btn-xs" lay-event="message">查看留言</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="summary">查看总结</a>
    </script>




    <script src="../static/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'table','element','jquery'], function(){
            window.jQuery = window.$ = layui.jquery;
            var layer = layui.layer //弹层
                ,table = layui.table //表格
                ,element = layui.element; //元素操作

            //方法渲染，执行一个 table 实例
            table.render({
                elem: '#test'
                ,height: 332
                ,url: '/demo/table/user/' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:200, align:'center', sort: true, fixed: 'left'}
                    ,{field: 'username', title: '姓名',align:'center', width:200}
                    ,{field: 'sex', title: '性别', width:200, align:'center',sort: true}
                    ,{field: 'job', title: '职位',align:'center', width:200}
                    ,{field: 'tel', title: '联系方式',align:'center', width: 200}
                    ,{fixed: 'right',  align:'center', toolbar: '#barDemo'}
                ]]
            });

            //监听工具条

            table.on('tool(demo)', function(obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                                var data = obj.data //获得当前行数据
                                , layEvent = obj.event; //获得 lay-event 对应的值
                                if (layEvent === 'plan') {
                                    layer.open({
                                        type : 2,
                                        area : [ '700px', '450px' ],
                                        fixed : false, //不固定
                                        maxmin : true,
                                        content : 'teacher_plan.html'
                                    });
                                } else if (layEvent === 'message') {
                                    layer.open({
                                        type : 2,
                                        area : [ '700px', '450px' ],
                                        fixed : false, //不固定
                                        maxmin : true,
                                        content : 'teacher_message.html',
                                        end : function() {
                                            layui.index.render();
                                        }
                                    });
                                    
                                } else if (layEvent === 'summary') {
                                    layer.open({
                                        type : 2,
                                        area : [ '700px', '450px' ],
                                        fixed : false, //不固定
                                        maxmin : true,
                                        content : 'teacher_summary.html',
                                        end : function() {
                                            layui.index.render();
                                        }
                                    });
                                }

                            });


        });
    </script>
</body>
</html>
