<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="../../static/layui/css/layui.css"/>
    <title>月度总结</title>
    <style>
        body{margin:10px 20px;}
    </style>
</head>
<body>
<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">月份</label>
        <div class="layui-input-block">
            <input type="text" id="month" class="layui-input" readonly="readonly"/>
        </div>

        <label class="layui-form-label" style="height:100px;border-top:0px;">月度工作<br/>学习总结</label>
        <div class="layui-input-block">
                <textarea class="layui-textarea"
                          maxlength="4000" id="month_summary"  style="resize:none;border-top:0px;" readonly="readonly"></textarea>
        </div>

        <label class="layui-form-label" style="height:100px;border-top:0px;">问题和困难</label>
        <div class="layui-input-block">
                <textarea class="layui-textarea" id="problem"
                          maxlength="4000" style="resize:none;border-top:0px;" readonly="readonly"></textarea>
        </div>

        <label class="layui-form-label" style="height:100px;border-top:0px;">下个月计划</label>
        <div class="layui-input-block">
                <textarea name="plan" class="layui-textarea" id="next_plan"
                          maxlength="4000" style="resize:none;border-top:0px;" readonly="readonly"></textarea>
        </div>

    </div>
</form>
        <div id="pageDemo" style="text-align:center"></div>

    <script src="../../static/layui/layui.js"></script>
    <script>
        console.log(window.location);
            //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use(["table","jquery","laypage"],function(){
            window.jQuery = window.$ = layui.jquery;
            var element = layui.element,//元素操作
                laypage=layui.laypage;//分页
            //分页实例
            laypage.render({
                elem: 'pageDemo' //分页容器的id
                ,count: 60 //总页数
                ,prev:'上个月'
                ,next:'下个月'
                ,skin: '#1E9FFF' //自定义选中色值
                ,jump: function(obj){
                    var str=location.search,
                        i=str.indexOf("=");
                    var id=str.substr(i+1)*1;
                    $("#month").val('第'+ obj.curr +'个月');
                    $.ajax({
                        type:"get",//提交类型
                        url:"/stusummary/selectByOthers",//请求的地址
                        data:{
                            month:obj.curr,//月份
                            stuid:id,//学生id
                        },//提交的数据
                        dataType:"json",//返回的类型 json
                        success:function(data){
                        //console.log(data);
                        //console.log(data.data);
                            //需要返回该学生的月度总结month_summary、问题和困难problem、下个月计划next_plan
                            if(data.data){
                                $('#month_summary').val(data.data.summary);
                                $('#problem').val(data.data.question);
                                $('#next_plan').val(data.data.plan);
                            }else{
                                $('#month_summary').val('');
                                $('#problem').val('');
                                $('#next_plan').val('');
                            }
                        },
                        error:function(){
                            layer.msg("请求异常，请重试");
                        }
                        
                    });

        }
       });
});
</script>
</body>

</html>