<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongyuan.testmp1.dao.ViewMapper">
    <resultMap id="studentMap" type="com.tongyuan.testmp1.viewModel.StudentView">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="first_dept" property="first_dept" jdbcType="VARCHAR"/>
        <result column="second_dept" property="second_dept" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="job_number" property="job_number" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="stuTeacherMap" type="com.tongyuan.testmp1.viewModel.StuTeacherView">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="first_dept" property="first_dept" jdbcType="VARCHAR"/>
        <result column="second_dept" property="second_dept" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="job_number" property="job_number" jdbcType="VARCHAR"/>
        <result column="teacher_name" property="teacher_name" jdbcType="VARCHAR"/>
        <result column="teacher_job_number" property="teacher_job_number" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectStudentByTeacherJobNumber" resultMap="studentMap">
        SELECT id,first_dept,second_dept,name,job_number
        FROM stuinfo
        WHERE teacher_job_number = #{teacherJobNumber}
    </select>

    <select id="selectStuTeaByDept" resultMap="stuTeacherMap">
        SELECT id,first_dept,second_dept,name,job_number,teacher_name,teacher_job_number
        FROM stuinfo
        WHERE first_dept=#{firstDept}
        AND second_dept=#{secondDept}
        <if test="key!=null and key!=''">
            AND (name LIKE CONCAT(CONCAT('%',#{key,jdbcType=VARCHAR}),'%')
            OR job_number LIKE CONCAT(CONCAT('%',#{key,jdbcType=VARCHAR}),'%'))
        </if>
    </select>


    <resultMap id="evaluationMap" type="com.tongyuan.testmp1.viewModel.EvaluationView">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="evaluation" property="evaluation" jdbcType="VARCHAR"/>
        <result column="rank" property="rank" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="job_number" property="job_number" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectEvaluationById" parameterType="java.lang.Integer" resultMap="evaluationMap">
        SELECT id,evaluation,rank,name,job_number
        FROM stuinfo
        WHERE id = #{id}
    </select>

    <select id="selectAllEvaluations" resultMap="evaluationMap">
        SELECT id,evaluation,rank,name,job_number
        FROM stuinfo
    </select>
</mapper>